/*
    Flaticon icon font: Flaticon
    Creation date: 03/05/2016 14:38
    */
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-bar-graph:before {
  content: "\f100";
}

.flaticon-bottle:before {
  content: "\f101";
}

.flaticon-bulb:before {
  content: "\f102";
}

.flaticon-bulleted-list:before {
  content: "\f103";
}

.flaticon-chat:before {
  content: "\f104";
}

.flaticon-clock:before {
  content: "\f105";
}

.flaticon-dashboard:before {
  content: "\f106";
}

.flaticon-document:before {
  content: "\f107";
}

.flaticon-energy:before {
  content: "\f108";
}

.flaticon-eye:before {
  content: "\f109";
}

.flaticon-facebook:before {
  content: "\f10a";
}

.flaticon-folder:before {
  content: "\f10b";
}

.flaticon-home:before {
  content: "\f10c";
}

.flaticon-link:before {
  content: "\f10d";
}

.flaticon-menu:before {
  content: "\f10e";
}

.flaticon-paper:before {
  content: "\f10f";
}

.flaticon-paperclip-document-outline:before {
  content: "\f110";
}

.flaticon-phone:before {
  content: "\f111";
}

.flaticon-plus:before {
  content: "\f112";
}

.flaticon-search:before {
  content: "\f113";
}

.flaticon-settings:before {
  content: "\f114";
}

.flaticon-twitter:before {
  content: "\f115";
}

.flaticon-user:before {
  content: "\f116";
}
